<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-16">
      <title>Notes, Reminders and Tasks!!!</title>
      <style>
         .rainbow-lr {
                     background: linear-gradient(to right, crimson, chocolate , gold, darkgreen, midnightblue, blue, violet);
                     color:transparent;
                     background-clip: text;
         }
      </style>
   </head>
   <body>
     {% block content %}
        <h1>Enter Task</h1>
        <form action="/" method = "POST">
          <textarea id="kingTaskDesc" name="kingTaskDesc" rows="4" cols="50" placeholder="Enter Task"></textarea>
          <p><input id ="kingTaskDesc" type = "submit" value = "King Task" ></p>
          <p></p>
        </form>
        <form action="/" method = "POST">
          <textarea id="princessTaskDesc" name="princessTaskDesc" rows="4" cols="50" placeholder="Enter Task"></textarea>
          <p><input id ="princessTaskDesc" type = "submit" value = "Princess Task" ></p>
          <p></p>
        </form>
        {% if data %}
          <p></p>
          <p></p>
          <h2> {{ data }} </h2>
          <p></p>
          <p></p>
        {% endif %}
      {% endblock %}
   </body>
</html>
